---
interface Props {
	title: string;
	classes?: string;
}
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import { ghostClient } from '../lib/ghost';
const posts = await ghostClient.pages
		.browse()
		.catch((err) => {
				console.error(err);
		});
if (!posts) return;

posts.map((post) => {
	const postSlug = post.slug;
	post.slug = post.slug === 'home' ? '/' : `/${post.slug}`;
	post.title = post.slug === '/' ? '◼︎' : postSlug;
})
import Navigation from '../components/Navigation';

const { classes, title } = Astro.props;
const currentUrl = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class={`${classes} p-10`} transition:animate="none">
		<Navigation data={posts} currentUrl={currentUrl} />
		<div transition:animate={fade({ duration: '.5s' })}>
			<slot/>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
