---
import Layout from '../layouts/Layout.astro';
import { ghostClient } from '../lib/ghost';
export async function getStaticPaths() {
    const posts = await ghostClient.pages
        .browse({
            filter: 'slug:-home'
        })
        .catch((err) => {
            console.error(err);
        });
    if (!posts) return;
    return posts.map((post) => {
        return {
            params: {
                page: post.slug,
            },
            props: {
                post: post,
            },
        };
    });
}
const { post } = Astro.props;
const {title, feature_image, reading_time, html} = post;
---
<Layout title={title as string}>
    {feature_image && (
      <img src={feature_image} alt={title} />
    )}
    <h1>{title}</h1>
    <p>{reading_time} min read</p>
    <Fragment set:html={html} />
  </body>
</Layout>